#cts-base-images, #cts-texture-image {
    border: 1px dashed #ccc;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 10px;
}

.cts-dropzone img {
    max-width: 100px;
    height: auto;
    margin: 5px;
}
